# application
PORT=8080

# Banco do auth (container/docker-compose.dev.yml)
DB_USER=auth
DB_PASSWORD=change-me
DB_NAME=netflix_auth_dev
DB_PORT=5450
DB_HOST=127.0.0.1

# Hash
HASH_COST = 4

# GRPC SERVER
USER_SERVER_ADDR=localhost:50051